NEXT_PUBLIC_APPWRITE_HOST_URL=your-appwrite-host-url
NEXT_PUBLIC_APPWRITE_PROJECT_ID=your-project-id
NEXT_PUBLIC_APPWRITE_PROJECT_NAME =your-appwrite-project-name
APPWRITE_API_KEY= your-appwrite-api-key